# Executables
*.exe
*.out
a.out
*.app
*.o

# Build artifacts
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.mk
*.obj
*.lib
*.dll
*.so
*.dylib

# Editor/IDE specific files
.vscode/
.DS_Store
*.swp
*~
# Logs
*.log

# Other temporary files
*.tmp
*.bak
